server:
  port: 18081
spring:
  application:
    name: tanhua-server

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://159.75.211.245:3306/mytanhua
    username: coderpwh
    password: 12345678
  redis:
    host: 159.75.211.245
    port: 6379
mybatis-plus:
  type-enums-package: org.coderpwh.server.enums
  global-config:
    db-config:
      table-prefix: tb_
      id-type: auto
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

dubbo:
  application:
    name: tanhua-serverst
  registry:
    address: zookeeper://159.75.211.245:2181
    client: zkclient

tanhua:
  sso:
    url: http://127.0.0.1:18080
  default:
    user: 2
